@import url('https://fonts.googleapis.com/css2?family=REM:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: REM;
}

a {
    font-family: REM;
    color: #f4f4f2;
}

/******* HEADER *******/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 10em;
    position: relative;
    background-color: #091035;
    font-size: 1.5em;
}

.nav {
    display: flex;
    gap: 2rem;
    font-family: 'Inter', sans-serif;
}

.nome-header {
    font-weight: 800;
}

.link-nav {
    color: #f4f4f2;
    font-size: 0.8em;
    padding: 0.1rem 0.5rem;
}

.link-nav:hover {
    color: #131019;
    background-color: #f4f4f2;
}

#hamburger {
    display: none;
}

.header label {
    display: none;
}


/******* CONTEUDO PRINCIPAL (IMAGEM E TEXTO) *******/


.conteudo-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
    padding: 2em 0;
    background-color: #f4f4f2;
}

.texto-conteudo-principal {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    text-align: justify;
    animation: movedown 1s ease-in-out forwards;
}

.texto-conteudo-principal h1 {
    font-size: 2.5em;
    font-family: REM;
    font-weight: 600;
    text-align: left;
}

.img-main {
    animation: movedown 1s ease-in-out forwards;
    position: relative;
    z-index: 1;
}


/******* 2 PARTE - HOBBIES E TOP 5 *******/



.segunda-parte {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
    margin: 2.4em 0 2.8em 0;
}

/******* HOBBIES *******/

.hobbies{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2em;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90%;
}

.hobbies h5 {
    font-size: 1.3em;
    font-weight: 800;
}

.lista-hobbies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.hobbie {
    padding: 2em 0;
    background-color: #131019;
    background-size: cover;
    width: 7.5em;
    height: 10em;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5%;
    position: relative;
    opacity: 0.85;
}

.hobbie:hover {
    transform: scale(1.15);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    opacity: 1;
}

.elemento-lista {
    background: rgba(21, 21, 49, 0.85);
    padding: 0.32em 0.5em;
    border-radius: 10px;
    opacity: 1;
}

/************* TOP 5 *************/

.top5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
    max-width: 90%;
}

.top5 h5 {
    font-size: 1.3em;
    font-weight: 800;
}

.lista-top5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.rank {
    position: absolute;
    left: 15px;
    top: 0px;
    background-color: #daa520;
    padding: 0.5em 0.3em;
    border-radius: 0 0 5px 5px;
    font-size: 1.1em;
}




/******** DEFINICAO DO PLANO DE FUNDO DOS HOBBIES E TOP 5 *********/

#basquete {
    background: url(assets/imagens-hobbie/basquete.jpg) center center;
    background-size: cover;
}

#programacao {
    background: url(assets/imagens-hobbie/prog.jpg);
    background-size: cover;
}

#jiujitsu {
    background: url(assets/imagens-hobbie/jj.jpg) -2em;
    background-size: cover;
}

#surf {
    background: url(assets/imagens-hobbie/bb.jpg) -1em;
    background-size: cover;
}

#praia {
    background: url(assets/imagens-hobbie/praia.webp) -2em;
    background-size: cover;
}

#bossa {
    background: url(assets/imagens-top5/bossa.jfif) center center;
    background-size: cover;
}

#rock {
    background: url(assets/imagens-top5/rock.jpg) center center;
    background-size: cover;
}

#rap {
    background: url(assets/imagens-top5/rap.jpg) -6em center;
    background-size: cover;
}

#eletronica {
    background: url(assets/imagens-top5/eletronica.jpg) center center;
    background-size: cover;
}

#pagode {
    background: url(assets/imagens-top5/pagode.png) center ;
    background-size: cover;
}



/******* FOOTER *******/


.footer {
    background-color: #131019;
    padding: 1.5em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 10em;
}

#contato {
    background-color: #2b2a30;
    padding: 0.8em 1.6em;
}

#contato:hover {
    border: solid white 2px;
}

.icones {
    display: flex;
    gap: 1.5em;
}

.icone {
    width: 40px;
    background-color: white; 
    border-radius: 100%;
    padding: -10px;
}



/******* MEDIA QUERY *******/



@media screen and (max-width: 1478px) {

    .hobbies {
        align-items: flex-start;
    }

}

@media screen and (max-width: 1100px){
    .header {
        justify-content: space-evenly;
        padding: 1.4rem 0;
    }

    .footer {
        padding: 2em 5em;
    }
}

@media screen and (max-width: 780px) {

    .texto-conteudo-principal {
        max-width: 90%;
    }

    .footer {
        flex-direction: column-reverse;
        gap: 2em;
        padding: 2em 2em;
    }

    #hamburger {
        display: none;
        z-index: 50;
    }

    .nav {
        display: none;
        z-index: 99;
    }

    #open{ 
        display: inline-block; 
        color: white;
        background: #091035;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
      }

    .header input:checked ~ .nav{
        position: absolute;
        right: 0;
        top: 3.5em;
        display: flex;
        flex-direction: column;
        background-color: #091035;
        padding: 1em 3em;
        z-index: 99;
    }
        
}

@keyframes movedown {
    from {
        transform: translateY(-100px);
        opacity: 0.1;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
